	/*Définition des classes pour les exercices de Drag N'Drop*/

.dragged {
    position: absolute;
    top: 0;
    opacity: 0.5;
    z-index: 2000;
}
ol.vertical {
    margin: 0 0 4px 0;
    min-height: 15px; 
    padding-left: 0 !important
}
ol.vertical li ,
ol.horizontal li,
ol.cardinal li{
    display: block;
    margin: 2px;
    padding: 8px;
    border: 1px solid #dfdfdf;
    color: #111;
    background: #eeeeee;
}
ol.vertical li.placeholder,
ol.horizontal li.placeholder,
ol.cardinal li.placeholder {
    position: relative;
    margin: 0;
    padding: 0;
    border: none; 
}
ol.vertical li.placeholder:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    margin-top: -5px;
    left: -5px;
    top: -4px;
    border: 7px solid transparent;
    border-left-color: red;
    border-right: none; 
}
.vertical li:hover {
	cursor: n-resize;
}
.horizontal li:hover {
	cursor: e-resize;
}
.cardinal li:hover {
	cursor: move;
}
ol.phrases {
  	list-style-type: none; 
}
ol.phrases .fa {
  color: #0088cc;
}
ol.encours li:hover{
  background: #ddd
}
#ordre {
	display:none;
	visibility: hidden;
}

/*=================================================
	Classes d'exercices à rayer					 */
	
ul.a-rayer li:hover{
	cursor: pointer;
}
ul.a-rayer li {
	text-indent: 1em;
}
.a-rayer label{
	font-weight:normal;
}
.a-rayer input{
	visibility:hidden;
	display:none;
}
.a-rayer input[type="checkbox"]:checked+label{
text-decoration: line-through;
}
/*=================================================
	Classes d'exercices à surligner				 */
	
.a-surligner label:hover{
	cursor: pointer;
}
.a-surligner label{
	font-weight:normal;
}
.a-surligner input{
	visibility:hidden;
	display:none;
 }
 .a-surligner input[type="checkbox"]:checked+label{
	background-color: yellow;
}

/*=================================================
	Classes d'exercices trouver les erreurs*/

.erreur label:hover{
	cursor: text;
}	
.erreur label{
	font-weight: normal;
}
.erreur input{
	visibility: hidden;
	display: none;
}
 .erreur input[type="checkbox"]:checked+label{
	text-decoration: line-through;
	color: red;
}	
/*=================================================
    Classes pour les élements de formulaire      */

.inline-form-control{
	display:inline-block;
	width:auto;
	margin:5px;
}
.label_activite{
 height: 34px;
 border-radius: 4px;
 text-align: center;
 vertical-align: middle;
 padding: 6px;
 background-color: #008AC9; 
 color: white;
}
input.bouton{
	height:50px;
	background:#3E647E;
	font-size:14px;
	width:auto;
	float:none;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	cursor: pointer;
	float:left;
	margin-left:300px;
	margin-bottom:10px;
	}
/*===================================================
    Elements de mise en forme du texte                  */

.alinea{
	text-indent:2em}
	
.justif{
	text-align: justify;}
	
/*=================================================	
	Définition des classes de polices            */	
 
p.recoi{
	font-weight:bold;font-size: 2em;
}
strong.mauvrep{
	color:#D2204C;
}
strong.bonrep{
	color:#BAC900;
}
.activite{
color:#FF4B00;
font-size: 2em;
font-style: normal;
}
.remarque{
color:#55BCBE;
}
.resume{
  color:#D2204C;
  font-weight:bold;
}	

/*===================================================
	Définition des couleurs							*/


.body-saviez-vous{
  background:#55BCBE;
}
.fa-check{
  color: #BAC900;
}
.fa-close{
  color: #D2204C;
}
#res{
	border-width:2px;
	border-color:#ADA59A;
	border-style:inset;
	margin-left:10px;
	margin-right:10px;
	background:#ADA59A;
}
a.continue{text-align:center;font-size:1.5em;}

/*====================================================
	Instruction supplémentaires pour le responsive*/

@media all and (max-width: 980px) and (min-width: 700px){
.form-control,.label_activite{
  height: 100%;
    }
}
@media all and (max-width: 700px) and (min-width: 360px){
.form-control,.label_activite{
   height: 100%;
   
    }
}
@media all and (max-width: 360px){
.form-control,.label_activite{
  height: 100%;
  

    }
}
@media all and (max-width: 2000px) and (min-width: 980px) {
.form-control,.label_activite {
  height: 100%;
  text-align: center;
  vertical-align: middle;
  
  }
}


.encadre{
	padding-top:0px;
	padding-bottom:0px;
	}
label:hover , select:hover, a :hover, .modal-title{
	cursor: pointer;
	}
	
/*==========================================================
*******************FOOTER**********************************/

footer .marianne img{
  width: 80px;
  margin-top:10px;
  padding-left:5px;
  margin-bottom: 10px;
  float:right;
}
footer .copyrights{
  font-size: 10px;
}
footer .bottombar img.logobott{
  width: 90px;
  margin-top: 10px;
  padding-right:5px;
}